                                                        /* Structure */
#background {
    width: 100%;
    height: 100%;

    background-color: tan;
    position: absolute;
    top: 0%;
    left:0%;

    opacity: 0.8;
}

                                                        /* UI Elements */

                                                        /* Letter related */
#letter {
    position: absolute;
    z-index: 0;
        
    width: 20%;
    height: 50%;

    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);

    
    background-image: 
        
        linear-gradient(to right, rgba(255, 0, 0, 0.3) 2px, transparent 2px),
        linear-gradient(to bottom, white 30px, transparent 60px),
        repeating-linear-gradient(
            to bottom,
            white,
            white 29px,
            lightgray 30px
        );
    background-size: 100% 100%;
    background-position: 20px 0;

 transition: opacity 0.3s ease, transform 0.3s ease;
}

#letter:hover {
    
    transform: scale(1.05,1.05);
    
}
.dragging {
    cursor: grab;
    opacity: 0.4;
}
