                                                       /* Structure */
#background {
    width: 400vw;
    height: 400vh;

    background-color: tan;
    position: absolute;
    top: 0%;
    left:0%;

    opacity: 0.8;
}

                                                        /* UI Elements */

                                                        /* Letter related */
/* Letter Base*/
.letter {
    position: absolute;
    z-index: 0;
        
    width: 20vw;
    height: 50vh;

    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);

    
    background-image: 
        
        linear-gradient(to right, rgba(255, 0, 0, 0.3) 2px, transparent 2px),
        linear-gradient(to bottom, white 30px, transparent 60px),
        repeating-linear-gradient(
            to bottom,
            white,
            white 29px,
            lightgray 30px
        );
    background-size: 100% 100%;
    background-position: 20px 0;
    text-wrap:pretty;
    overflow: hidden;
 transition: opacity 0.3s ease, transform 0.3s ease;
}

.letterTitle {
    font-size:1vw;
    position: absolute;
    top: 2vh;
    left: 2vw;
    width: 98%;
    height: 90%;

    margin: 0 0 5vw 0;
    text-wrap: pretty;
    text-shadow: 0px 0px 2px rgba(0,0,0,0.3);
    font-family: cursive;
    line-height: 30px;
    user-select: none;

    font-weight: bold;
}

.letterText {
    font-size:1vw;
    position: absolute;
    top: 10vh;
    left: 2vw;
    width: 90%;
    height: 90%;

    margin: 0 0 5vw 0;
    text-wrap: pretty;
    text-shadow: 0px 0px 2px rgba(0,0,0,0.3);
    font-family: cursive;
    line-height: 30px;
    user-select: none;
}

.letterFootnote{
    font-size:1vw;
    position: absolute;
    top: 42vh;
    left: 2vw;
    width: 90%;
    height: 90%;

    margin: 0 0 5vw 0;
    text-wrap: pretty;
    text-shadow: 0px 0px 2px rgba(0,0,0,0.3);
    font-family: cursive;
    line-height: 30px;
    user-select: none;

    font-weight: bold;
}

.letter:hover {    
    transform: scale(1.05,1.05);
}



.dragging {
    cursor: grab;
    opacity: 0.4;
}
